body {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
svg{
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: block;
  }